/* GLOBAL */
 body { margin: 0; font-family: Arial, sans-serif; background-color: #121212; color: white; }
  /* CENTERED AUTH CONTAINER */ 
  .container { min-height: 100vh; display: flex; justify-content: center; align-items: center; } 
  /* CARD */ 
  .card { background-color: #1e1e1e; padding: 40px; border-radius: 20px; width: 250px; box-shadow: 0 0 12px rgba(0,0,0,0.5); }
   /* INPUT */
   
   input { width: 100%; padding: 10px; margin-bottom: 15px; border-radius: 5px; border: none; }
    /* BUTTON */
    button { width: 100%; padding: 10px; background-color: #2563eb; border: none; border-radius: 5px; color: white; cursor: pointer; transition: 0.2s; }
     button:hover { background-color: #1d4ed8; } /* DASHBOARD */ 
     .dashboard { padding: 40px; } 
 .stats-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 260px);
  gap: 20px;
  justify-content: start;
}
     .stat-box { background-color: #1e1e1e; padding: 20px; border-radius: 8px; text-align: center; }
      /* NAVBAR */
      .navbar { display: flex; justify-content: space-between; align-items: center; background: #1f1f1f; padding: 12px 30px; } 
      /* LOGO */ 
      .logo { color: #ffffff; font-size: 20px; font-weight: bold; }
       /* NAV LINKS */ 
      .nav-links { display: flex; gap: 20px; } 
      /* LINKS */
       .nav-links a { text-decoration: none; color: #d1d1d1; font-weight: 500; padding: 6px 12px; border-radius: 6px; transition: 0.2s; } 
       /* HOVER */ 
      .nav-links a:hover { color: white; background: #333; }